@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$poppin: 'Poppins', sans-serif;
$playfair:'Playfair Display', serif;
$black: #000;
$white: #fff;
$white-50: #ffffff80;
$gray: #888888;
$blue: #516C84;
$brown: #B79F82;
$bg: #F5F2EE;
